<div class="h-screen flex flex-column bg-cover" style="background: url('assets/layout/images/back_ground_full.jpg');">
  
    <div class="align-self-center z-5 mt-auto mb-auto">
      <div class="text-left  flex flex-column border-0 border-round-md  surface-card px-3">
        <div class="-mt-4 text-white bg-primary-600 border-round-md mx-auto px-3 py-1 border-1 ">
          <h3 class="m-0 text-white">Security Questions</h3>
        </div>
                   
        <div class="card" style="min-width:600px;">
            <div class="note">
                <p class="head_note">Note:</p>
                <ol>
                    <li>Minimum two questions need to be answered out of 15 questions for recovering the password when you lost it.</li> 
                    <li>When you selected more questions while recovering a password system randomly request 2 questions only </li>
                </ol>
            </div>
            <p-toolbar>
                <ng-template pTemplate="left">
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Add New Question " icon="pi pi-plus"
                        class="p-mr-2" (click)="openNew()"></button>
                </ng-template>
            </p-toolbar>

            <!-- table -->
            <p-table #dt [value]="securityDto" dataKey="id" [rowHover]="true"
                styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [autoLayout]="true"
                responsiveLayout="scroll" [tableStyle]="{ width: 'autoLayout'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="SecurityQuestions">SecurityQuestions 
                        </th>
                        <th pSortableColumn="Answer">Answer 
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-permitApproval>
                    <tr>
                        <td><button pButton pRipple icon="pi pi-pencil"
                                class="p-element p-ripple p-button-text p-button p-component"
                                (click)="editProduct(permitApproval)"></button>
                            <button pButton pRipple icon="pi pi-trash" 
                                class="p-element p-ripple p-button-text p-button p-component"></button>
                        </td>
                        <td>{{permitApproval.SecurityQuestions}}</td>
                        <td>{{permitApproval.Answer}}</td>
                    </tr>
                </ng-template>
                
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="md:text-center" colspan="8">Questions not yet added, Must need to add 2  Questions.</td>
                    </tr>
                    </ng-template>

            </p-table>

            <p-dialog [(visible)]="productDialog" [style]="{ width: '550px' }" header="Select Security Question"
                                        [modal]="true" styleClass="p-fluid">

                <ng-template pTemplate="content">
                    <!-- <from [formGroup]="fbSecureQue"> -->
                        <div class="p-field mb-3 ">
                            <label for="SecurityQuestions"  >Security Questions</label><br/><br/>
                            <p-dropdown name="SecurityQuestions" [options]="getSecureQuestions" (onChange)="onChange($event)" 
                                [(ngModel)]="security.SecurityQuestions" appendTo="body" optionValue="question"
                                placeholder="Select a Security Questions" optionLabel="question"
                                [showClear]="true" #drop="ngModel" class="pt-5">
                            </p-dropdown>
                            <small class="p-invalid p-error" *ngIf="!security.SecurityQuestions && (drop.dirty || drop.touched)">Select a Valid Question</small>
                        </div>

                        <div class="p-field mb-3">
                            <label for="Answer" >Answer</label>
                            <input type="text" pInputText name="Answer" [(ngModel)]="security.Answer" required  class="mt-3" #answer="ngModel"
                                    />
                            <small class="p-invalid p-error" *ngIf="!security.Answer && (answer.dirty || answer.touched)">Answer is
                                required.</small>
                        </div>
                    <!-- </from> -->
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="col-4" style="float:right">
                        
                            <button pButton pRipple type="submit" class="p-button-raised"
                            (click)="saveProduct()" [disabled]="!security.Answer || !security.SecurityQuestions">{{qstnSubmitLabel}}</button>
                        </div>
                    
                    
                </ng-template>

            </p-dialog>
            
            <button pButton pRipple label="Submit Questions" [disabled]="securityDto.length<2"
                        class=" p-mr-2 m-5 sQuestion"></button>
        </div>
                    

        </div>
    </div>
</div>