<div class="content-container col-12">
    <div class="grid">

        <form class="col-12" [formGroup]="fbChangePassword">
            <div class="col-12 p-0">
                <!-- <label for="password" class="block text-900 font-medium text-md required mb-1 mt-5">Password:</label> -->
                <input id="password" type="password" formControlName="password" placeholder="Password" pInputText
                    class="w-full md:w-100  mb-2" pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$">

                <!-- <label for="confirmPassword" class="block text-900 font-medium text-md required mb-1 mt-2">Confirm -->
                    <!-- Password:</label> -->
                <input id="confirmPassword" formControlName="confirmPassword" type="password"
                    formControlName="confirmPassword" placeholder="Confirm Password" pInputText
                    class="w-full md:w-100  mb-2" pattern="^(?!.* )(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,15}$">
            </div>
            <div class="grid mt-3">
                <div class="col-6"><button pButton pRipple label="Back to Security Ques" class="w-full p-3 text-md"
                        (click)="navigateToPrev()"></button></div>
                <div class="col-6"><button pButton pRipple label="Submit" class="w-full p-3 text-md"
                        (click)="navigateToNext()"></button></div>
            </div>
        </form>

    </div>
</div>










<!-- <button style="float: left" (click)="navigateToPrev()">Navigate to Previous</button>
    <button style="float: right" (click)="navigateToNext()">Navigate to Next</button>
    </div> -->