<div class="content-container col-12 pb-0 text-left">
    <div class="grid pb-0">
        <form class="col-12 pb-0">
            <!-- <label for="username" class="block text-900 font-medium text-md required mb-1 mt-5">User Name</label> -->
            <input id="username" type="text" [(ngModel)]="userName" placeholder="Enter User Name"
                [ngModelOptions]="{standalone:true}" pInputText class="w-full md:w-100 " #username="ngModel"
                style="padding:1rem" required>
            <span *ngIf="!userName && (username.dirty || username.touched)">
                <div class="ng-invalid ng-touched p-error">
                    Please Enter User Name.</div>
            </span>
        </form>
        <div class="col-6 pb-0"></div>
        <div class="col-6 pb-0"> <button pButton pRipple label="Next" class="w-full p-3 text-md"
                (click)="navigateToNext()"></button></div>
    </div>
</div>