/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

/* Layout */
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';
@import '../node_modules/primeicons/primeicons.css';

/* Quill Text Editor for p-editor */
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';

/* Demos */
@import 'assets/demo/styles/flags/flags.css';
@import 'assets/demo/styles/badges.scss';
@import 'assets/demo/styles/code.scss';

#NBL::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px var(--primary-light-color);
	background-color: #F5F5F5;
}

#NBL::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#NBL::-webkit-scrollbar-thumb
{
	background-color: var(--primary-light-color);
	border: 0px solid #555555;
}
::ng-deep div.ui-datepicker .ui-timepicker{
	padding:initial;
	font-size:smaller;
  }
  .p-datepicker table td > span{
	width:1.5rem;
	height:1.5rem;
  }
  .p-datepicker table td{
	padding:1px;
  }
  .p-datepicker .p-datepicker-header{
	padding:2px;
  }
  .p-datepicker table{
	margin:1px 0;
  }
.employee_profile_pic{
	border-radius: 100%;
	border:3px solid rgb(79, 223, 94);
}
.employee_profile_pic_div{
	text-align: center;
}
.employee_info{
	line-height: 25px;
}
.view_profile_button{
	height:100%;
}
.p-button{
	border-radius: 4px !important;
}
.list_button{
	padding:2px;
	margin-right:10px;	
}
.user_form .p-tabview .p-tabview-panels{
	min-width:700px;
}
// .leave_list{
// 	width:100%;
// 	position: relative;
// }
// .leavelist_emp_designation{
// 	position:absolute;
// 	right:0;
// }
.p-dialog .p-dialog-content{
	padding-bottom:0px;
	margin-bottom:0px;

}
.back_login{
	background-image:  url("/assets/layout/images/back_ground_login.png");
	background-repeat: no-repeat, repeat;
	// background-size: cover;
}
.bg_image{
	background-image:  url("/assets/layout/images/top_login_bg.png");
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
//   background-position: 320px 130px;
  width:100%;
}

.bottom_bg{
	background-image:  url("/assets/layout/images/bottom_image.png");
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding:50px 50px;
}